:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 3em;
}

form {
    display: grid;
    row-gap: 2em;
    width: 30%;
    border-radius: .25em;
    padding: 3em;
    background-color: #333333;
    -webkit-box-shadow: 0px 0px 26px -2px rgba(33,33,33,1);
-moz-box-shadow: 0px 0px 26px -2px rgba(33,33,33,1);
box-shadow: 0px 0px 26px -2px rgba(33,33,33,1);
}

.input-container {
    display: grid;
    row-gap: .3em;
}

.input-title {
    color: #a1a1a1;
    font-weight: bold;
    font-size: .8em;
    letter-spacing: .1em;
}

.input {
    border: none;
    padding: .6em;
    font-size: 1.2em;
    outline: 0;
    background-color: #dcdcdc;
    letter-spacing: .05em;
}

.button {
    background-color: #00a3da;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    text-transform: uppercase;
    transition: .15s ease-in-out background-color;
}

.button:hover {
    background-color: #007da7
}