<form novalidate [formGroup]="form" (ngSubmit)="login()">
    <h1 class="title">Iniciar sesión</h1>
    <div class="input-container">
        <h6 class="input-title">Correo electrónico</h6>
        <input class="input" type="email" formControlName="email">
        <div *ngIf="email.hasError && email.dirty">
            <span class="error" *ngIf="email.hasError('email')">Introduzca un correo electrónico válido</span>
            <span class="error" *ngIf="email.hasError('required')">Introduzca un correo electrónico</span>
        </div>
    </div>
    <div class="input-container">
        <h6 class="input-title">Contraseña</h6>
        <input class="input" type="password" formControlName="password">
        <div *ngIf="password.hasError && password.dirty">
            <span class="error" *ngIf="password.hasError('required')">Introduzca una contraseña</span>
        </div>
    </div>
    <button class="input button" [disabled]="form.invalid">Entrar</button>
</form>