.button {
    padding: .5em;
    border-radius: .25em;
    background-color: darkorange;
    text-decoration: none;
    color: white;
    letter-spacing: .05em;
    transition: .05s linear background-color;
}

.button:hover {
    background-color: rgb(219, 121, 0);
}