<header>
    <div class="container">
        <a class="title" [routerLink]="['']">Bitabets</a>
        <app-session-buttons></app-session-buttons>
    </div>
</header>
<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>
<footer>
    <div class="container">
        <p class="copyright">&copy; {{currentYear}} Bitabets</p>
    </div>
</footer>