.container {
    width: 70%;
    margin: 0 auto;
}

header {
    background-color: #0057A3;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2em 0;
}

.title {
    color: white;
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1;
}

footer {
    background-color: #004C8F;
}

footer .container {
    background-color: #0057A3;
    padding: .8em 0;
}

.copyright {
    text-align: center;
    font-size: .8em;
    color: white;
}