* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background-color: #E9EBEE;
}

app-root {
    flex: 1;
    display: flex;
    flex-direction: column;
}